<div class="staff">
    {{#if staffForClinicianPick.length}}
        <div class="staff-search">
            <input class="staff-search-box form-control" type="text" placeholder="Future Search Feature" readonly>
        </div>
        <div class="staff-list mt-2">
            <label for="clinician-list-select">Select Shift Clinician</label>
            <select class="shift__clinician form-control" id="clinician-list-select" size="{{chooseMaxUpTo staffForClinicianPick.length 5 9}}">
                {{#each staffForClinicianPick}}
                    <option value="{{this.id}}" data-category="{{this.categoryName}}" {{#if @root.clinicianId}}{{#ifMatch @root.clinicianId this.id}}selected{{/ifMatch}}{{else}}{{#if @first}}selected{{/if}}{{/if}}>{{this.lastName}}, {{this.firstName}} ({{this.categoryName}})</option>
                {{/each}}
            </select>
        </div>
    {{else}}
        <p>All staff have a shift this day already, or there are no staff.</p>
    {{/if}}
</div>

{{!-- {{debug}} --}}