<div class="staff">
    {{#if staffPickedForClerks.length}}
    <div>
        <p>Select Assignment for Clerks</p>
    </div>
    <div class="staff-list mt-2">
        {{#each staffPickedForClerks as |staff staffIndex|}}
        <div class="staff-member" data-staff-id="{{staff.id}}">
            <span>
                {{staff.lastName}}, {{staff.firstName}} ({{staff.categoryName}})
            </span>
            <div>
                {{#each @root.assignmentsForClerk as |assignment assignmentIndex|}}
                <span class="pod-assignment">
                    <input class="pod" type="radio" name="{{staff.id}}-assignment" id="{{staff.id}}-{{assignment.name}}" value="{{assignment.id}}" required>
                    <label for="{{staff.id}}-{{assignment.name}}"><span></span>{{assignment.name}}</label>
                </span>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>All staff have a shift this day already, or there are no staff, use the single shift add form to add individual shifts.</p>
    {{/if}}
</div>

{{!-- {{debug}} --}}