<div class="staff">
    <div class="form-group">
        <label for="clinician-pod-select">Select Clinican Assignment</label>
        <select class="shift__clinician-pod form-control" id="clinician-pod-select" size="2">
            {{#each assignmentForClinicianPodPick}}
                <option value="{{this.id}}" data-assignment="{{this.name}}" {{#if @root.clinicianAssignmentId}}{{#ifMatch @root.clinicianAssignmentId this.id}}selected{{/ifMatch}}{{else}}{{#ifMatch this.name 'A/B'}}selected{{/ifMatch}}{{/if}}>
                    {{this.name}}
                </option>
            {{/each}}
        </select>
    </div>
    {{#ifMatch dayOrNight 'D'}}
    <div class="form-group">
        <label for="charge-pod-select">Select Change Assignment</label>
        <select class="shift__charge-pod form-control" id="charge-pod-select" size="2">
            {{#each assignmentForChargePodPick}}
                <option value="{{this.id}}" data-assignment="{{this.name}}" {{#if @root.chargeAssignmentId}}{{#ifMatch @root.chargeAssignmentId this.id}}selected{{/ifMatch}}{{else}}{{#ifMatch this.name 'C'}}selected{{/ifMatch}}{{/if}}>
                    {{this.name}}
                </option>
            {{/each}}
        </select>
    </div>
    {{/ifMatch}}
</div>

{{!-- {{debug}} --}}