<div class="staff">
    {{#if staffPickedForBedside.length}}
    <div>
        <p>Select Assignment for Bedside Nurses</p>
    </div>
    <div class="staff-list mt-2">
        {{#each staffPickedForBedside as |staff staffIndex|}}
        <div class="bedside-staff" data-staff-id="{{staff.id}}">
            <span >
                {{staff.lastName}}, {{staff.firstName}} ({{staff.categoryName}})
            </span>
            {{#each @root.assignments as |assignment assignmentIndex|}}
            <span class="pod-assignment">
                <input class="pod" type="checkbox" id="{{staff.id}}-{{assignment.name}}" value="{{assignment.id}}">
                <label for="{{staff.id}}-{{assignment.name}}"><span></span>{{assignment.name}}</label>
            </span>
            {{/each}}
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>All staff have a shift this day already, or there are no staff, use the single shift add form to add individual shifts.</p>
    {{/if}}
</div>

{{!-- {{debug}} --}}