<div class="staff">
    {{#if staffForChargePick.length}}
        <div class="staff-search">
            <input class="staff-search-box form-control" type="text" placeholder="Future Search Feature" readonly>
        </div>
        <div class="staff-list mt-2">
            <label for="charge-list-select">Select Shift Charge</label>
            <select class="shift__charge form-control" id="charge-list-select" size="{{chooseMaxUpTo staffForChargePick.length 5 9}}">
                {{#each staffForChargePick}}
                    <option value="{{this.id}}" data-category="{{this.categoryName}}" {{#if @first}}selected{{/if}}>{{this.lastName}}, {{this.firstName}} ({{this.categoryName}})</option>
                {{/each}}
            </select>
        </div>
    {{else}}
        <p>All staff have a shift this day already, or there are no staff, use the single shift add form to add individual shifts.</p>
    {{/if}}
</div>

{{!-- {{debug}} --}}