<div class="mod">
    {{#if hasMods}}
        {{#if mods.length}}
        <div class="mod-list">
            <label for="mod-list-select">Select Shift Modifiers</label>

            <div>
                {{#each mods}}
                <div class="shift__mod">
                    <input type="checkbox" id="{{this.name}}" value="{{this.id}}">
                    <label for="{{this.name}}"><span></span>{{this.name}}</label>
                </div>
                {{/each}}
            </div>
        </div>
        {{else}}
        <p>Must be an error, there should be a modifier to pick from.</p>
        {{/if}}
    {{else}}
        <p>You made it, submit the shift!</p>
    {{/if}}
</div>