{{debug}}
<p>In the last 8 weeks, here is what staff have done:</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
            <th scope="col">Last Role</th>
            <th scope="col">Last Pod</th>
            <th scope="col">Doubles</th>
        </tr>
    </thead>
    <tbody>
        {{#if groups.rn}}
            <tr>
                <th scope="row" colspan="7">RN</th>
            </tr>
            {{#each groups.rn as |staff staffIndex|}}
            <tr>
                {{printAssignmentReportRow staff @root.assignmentDictionary @root.modDictionary}}
            </tr>
            {{/each}}
        {{/if}}

        {{#if groups.lpn}}
            <tr>
                <th scope="row" colspan="5">LPN</th>
            </tr>
            {{#each groups.lpn as |staff staffIndex|}}
            <tr>
                {{printAssignmentReportRow staff @root.assignmentDictionary @root.modDictionary}}
            </tr>
            {{/each}}
        {{/if}}

        {{#if groups.na}}
            <tr>
                <th scope="row" colspan="5">NA</th>
            </tr>
            {{#each groups.na as |staff staffIndex|}}
            <tr>
                {{printAssignmentReportRow staff @root.assignmentDictionary @root.modDictionary}}
            </tr>
            {{/each}}
        {{/if}}

        {{#if groups.uc}}
            <tr>
                <th scope="row" colspan="5">UC</th>
            </tr>
            {{#each groups.uc as |staff staffIndex|}}
            <tr>
                {{printAssignmentReportRow staff @root.assignmentDictionary @root.modDictionary}}
            </tr>
            {{/each}}
        {{/if}}
    </tbody>
</table>