<div class="staff">
    {{#if staffMembers.length}}
    <div class="staff-search-wrap">
        <input class="staff-search-box form-control" data-staff-list="staffMembers" type="text" placeholder="Type to search for a staff to add..">
        <ul class="staff-search-suggestions">
        </ul>
    </div>
    <div class="staff-list mt-2">
        <div class="d-flex justify-content-between align-items-baseline">
            <label for="bedside-list-select">Select Staff for Shift Report</label>
            <p class="select-count small text-muted">&nbsp;</p>
        </div>
        <select class="shift__bedside select-count-data form-control" id="bedside-list-select" size="{{chooseMaxUpTo staffMembers.length 5 9}}" multiple>
            {{#each staffMembers as |staff staffIndex|}}
            <option value="{{staff.id}}" {{checkIfIdSelected staff.id @root.selectedStaffIds}}>{{staff.last_name}}, {{staff.first_name}} ({{staff.category_name}})</option>
            {{/each}}
        </select>
    </div>
    {{else}}
    <p>All staff have a shift this day already, or there are no staff, use the single shift add form to add individual shifts.</p>
    {{/if}}
</div>