<div class="st-container">
  <div class="st-left-col">
    <div class="st-rowhead-cell st-header-cell">
      <span>Date</span>
    </div>
    {{#each groups}}
      <div class="st-rowhead-cell st-divider-cell">
          <span>{{this.name}}</span>
      </div>
      {{#each staff}}
        <div class="st-rowhead-cell">
            <span><a href="staff-detail.php?staff-id={{this.id}}" data-staff-id="{{this.id}}">{{this.fullname}}</a></span>
        </div>
      {{/each}} {{!-- end staff --}}
    {{/each}} {{!-- end group --}}
  </div>

  <div class="st-right-col">
    <div class="st-row">
      {{#each dates}}
        <div class="st-cell st-header-cell">
          <span>{{printDate this}}</span>
        </div>
      {{/each}} {{!-- end date --}}
    </div>

    {{#each groups}}
      {{#each staff}}

        {{#if @first}}
          <div class="st-row">
            {{#each ../../dates}}
              <div class="st-cell st-divider-cell">
                <span>&nbsp;</span>
              </div>
            {{/each}} {{!-- end shift --}}
          </div>
        {{/if}} {{!-- end if @first --}}

        <div class="st-row">
          {{#each shifts}}
            <div class="st-cell">
              <span><a href="javascript:void(0);" data-shift-id="{{this.id}}">{{this.letter}}</a></span>
            </div>
          {{/each}} {{!-- end shift --}}
        </div>

      {{/each}} {{!-- end staff --}}
    {{/each}} {{!-- end group --}}
  </div>
</div>
