<div class="add-wrap">
    <div class="header">
        <h5>Shift entry complete.</h5>
        <h6 class="text-muted">Check below to make sure all the shifts were entered into the database.</h6>
    </div>
    <div class="content">
        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center">Sent?</th>
                    <th scope="col" class="text-center">Created?</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                {{#each createStatus as |status statusIndex|}}
                <tr class="request">
                    <td class="connection text-center">
                        <span class="fa-layers fa-fw">
                            <i class="fas fa-exchange-alt"></i>
                            {{#iftrue status.success}}
                                <i class="fas fa-check" data-fa-transform="shrink-2 up-4 right-4" style="color:green"></i>
                            {{else}}
                                <i class="fas fa-times" data-fa-transform="shrink-2 up-4 right-4" style="color:firebrick"></i>
                            {{/iftrue}}
                        </span>
                    </td>
                    <td class="creation text-center">
                        <span class="fa-layers fa-fw">
                            <i class="far fa-file"></i>
                            {{#iftrue status.created}}
                                <i class="fas fa-check" data-fa-transform="shrink-2 up-4 right-4" style="color:green"></i>
                            {{else}}
                                <i class="fas fa-times" data-fa-transform="shrink-2 up-4 right-4" style="color:firebrick"></i>
                            {{/iftrue}}
                        </span>
                    </td>
                    <td class="message">
                        {{#iftrue status.created}}
                            Shift created for {{status.staffName}} on {{printInlineDate status.date}}
                        {{else}}
                            Unable to create shift for {{status.staffName}} on {{printInlineDate status.date}}.
                        {{/iftrue}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="summary controls">
        <a href="/shift/add-one-shift.php" class="btn btn-primary"><i class="fas fa-plus"></i> Add a single shift</a>
        <a href="/shift/add-unit-shift.php" class="btn btn-primary"><i class="fas fa-plus"></i> Add another shift</a>
        <a href="/home" class="btn btn-primary"><i class="fas fa-home"></i> Home</a>
    </div>
</div>

{{debug}}