<div class="st-container">
  <div class="st-left-col">
    <div class="st-rowhead-cell st-header-cell">
      <span>Date</span>
    </div>
    {{#each groups}}
      <div class="st-rowhead-cell st-divider-cell">
          <span>{{this.name}}</span>
      </div>
      {{#each staff}}
        <div class="st-rowhead-cell">
            <span><a href="/staff?staff_id={{this.id}}" data-staff-id="{{this.id}}">{{this.nameReverse}}</a></span>
        </div>
      {{/each}} {{!-- end staff --}}
    {{/each}} {{!-- end group --}}
  </div>

  <div class="st-right-col">
    <div class="st-row">
      {{#each dates}}
        <div class="st-cell st-header-cell">
          <span>{{printDate this}}</span>
        </div>
      {{/each}} {{!-- end date --}}
    </div>

    {{#each groups}}

      <div class="st-row">
        {{#each ../dates}}
        <div class="st-cell st-divider-cell">
          <span>&nbsp;</span>
        </div>
        {{/each}} {{!-- end shift --}}
      </div>

      {{#each staff}}

        <div class="st-row">
          {{#each shifts}}
            <div class="st-cell"{{#if this.charHover}} data-char-hover="{{this.charHover}}"{{/if}}>
              <span data-shift-date="{{this.date}}">
                {{#if this.id}}
                  <a class="st-link{{#if this.class}} {{this.class}}"{{/if}} href="javascript:void(0);" data-shift-id="{{this.id}}">{{this.char}}</a>
                {{else}}
                  {{this.char}}
                {{/if}}
              </span>
            </div>
          {{/each}} {{!-- end shift --}}
        </div>

      {{/each}} {{!-- end staff --}}
    {{/each}} {{!-- end group --}}
  </div>
</div>
