{{!-- Shift Details entries --}}
<div class="shift-entry-modal__wrapper">
    <input id="shift-entry__shift-id" type="hidden" value="{{this.id}}">
    <input id="shift-entry__shift-updated" type="hidden" value="false">
    <h5>{{this.date}}-{{this.d_or_n}}</h5>
    <ul class="shift-entry__details-list">
        <li class="shift-entry__details-list-item">
            <span class="shift-entry__detail">
                <span class="role-title">Role: </span>
                <span class="role-name">{{stringToProperCase this.role_name}}</span>
                <a class="shift-entry__show-item-edit btn-secondary" data-show="role" href="javascript:void(0);">
                    <i class="fas fa-pencil-alt"></i>
                </a>
            </span>
            <div class="hidden" data-show-target="role">
                <!-- Hidden input to edit role -->
                <form id="role-edit" class="shift-entry__form shift-item-edit">
                    <select class="shift-entry__select shift-entry__role-select" required>
                        {{#each roles}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    
                    <button class="shift-entry__cancel-item-edit shift-entry__btn btn-danger" data-hide="role">
                        <i class="fas fa-times"></i>
                    </button>
                    <button class="shift-entry__submit-item-edit shift-entry__btn btn-success">
                        <i class="fas fa-check"></i>
                    </button>
                </form>
            </div>
        </li>

        <li class="shift-entry__details-list-item">
            <span class="shift-entry__detail">
                <span class="assignment-title">Assignment: </span>
                <span class="assignment-name">{{this.assignment_name}}</span>
                <a class="shift-entry__show-item-edit btn-secondary" data-show="assignment" href="javascript:void(0);">
                    <i class="fas fa-pencil-alt"></i>
                </a>
            </span>
            <div class="hidden" data-show-target="assignment">
                <!-- Hidden input to edit role -->
                <form id="assignment-edit" class="shift-entry__form shift-entry__item-edit">
                    <select class="shift-entry__select shift-entry__role-select" required>
                        {{#each assignments}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>

                    <button class="shift-entry__cancel-item-edit shift-entry__btn btn-danger" data-hide="assignment">
                        <i class="fas fa-times"></i>
                    </button>
                    <button class="shift-entry__submit-item-edit shift-entry__btn btn-success">
                        <i class="fas fa-check"></i>
                    </button>
                </form>
            </div>
        </li>

        <li class="shift-entry__details-list-item shift-entry__mods">
            <ul class="shift-entry__mod-list">
                {{#each shift_mods}}
                <li class="shift-entry__mod-list-item" data-shift-mod-id="{{this.shiftmod_id}}" data-mod-id="{{this.mod_id}}">
                    {{this.mod_name}} <i class="fas fa-times"></i>
                </li>
                {{/each}}
            </ul>
            <div>
                <form id="mod-edit" class="shift-entry__form shift-entry___mod-add">
                    <select class="shift-entry__select shift-entry__mods" id="shift-add-mod">
                        {{#each mods}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <button type="submit" class="shift-entry__btn btn-primary">
                        <i class="fas fa-plus"></i>
                    </button>
                </form>
            </div>
        </li>
    </ul>
</div>
